.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}

.customer_container {
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45vw;
  height: 45vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.995);
  top: 25%;
  left: 25%;
  border-radius: 5px;
  padding: 20px 0px;
  z-index: 20;
  pointer-events: all;
}

@media (max-width: 490px) {
  .container {
    width: 74vw;
  }

  .customer_container {
    width: 74vw;
  }
  .form_container {
    width: 70vw;
    left: 12vw;
  }
}
